
@font-face {font-family: "iconfont";
  src: 
  url('../fonts/iconfont.ttf?t=1523937183802') format('truetype')}

.iconfont {
  font-family:"iconfont" !important;
  font-size:.16rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banxing:before { content: "\e6c9"; }

.icon-kefu:before { content: "\e643"; }

.icon-gouwuche:before { content: "\e60d"; }

.icon-shanchu:before { content: "\e68e"; }

.icon-xingxing:before { content: "\e60b"; }

.icon-hongbao:before { content: "\e623"; }

.icon-shangcheng:before { content: "\e61a"; }

.icon-shouye:before { content: "\e722"; }

.icon-jinbi:before { content: "\e64a"; }

.icon-up:before { content: "\e78f"; }

.icon-right:before { content: "\e790"; }

.icon-down:before { content: "\e791"; }

.icon-touxiang:before { content: "\e692"; }

.icon-dizhi:before { content: "\e633"; }

.icon-search:before { content: "\e621"; }

.icon-fenxiang:before { content: "\e63c"; }

.icon-jianhao:before { content: "\e604"; }

.icon-jiahao:before { content: "\e605"; }

.icon-qianbao:before { content: "\e685"; }

.icon-shaixuan:before { content: "\e686"; }

.icon-dingdan:before { content: "\e602"; }

.icon-faxian:before { content: "\e746"; }

.icon-location:before { content: "\e619"; }

.icon-youhui:before { content: "\e60f"; }

.icon-xiajiantou:before { content: "\e733"; }

.icon-zuojiantou:before { content: "\e735"; }

.icon-koubei:before { content: "\e673"; }

.icon-wode:before { content: "\e60e"; }

.icon-huidaodingbu:before { content: "\e64d"; }

.icon-remen:before { content: "\e606"; }

